<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
    <br />
    <%- include('../partials/functions.ejs')%>
  </head>

  <body>
    <div class="bg-container">
      <%- include('../partials/nav.ejs') %>

      <div class="container">
        <% rounds.forEach(round => { %>
        <div id="round-container">
          <table>
            <thead>
              <tr>
                <th>COURSE</th>
                <th>DATE</th>
                <th>PAR</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="course-name"><%= round.course %></td>
                <td id="date"><%= convertDate(round.date) %></td>
                <td id="par">
                  <%= round.par.reduce((acc, value) => { return acc + value;
                  })%>
                </td>
                <td id="score">
                  <%= round.score.reduce((acc, value) => { return acc + value;
                  }) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <% }) %>

        <a href="tracker/new" class="new-round">+ Add Round</a>
      </div>
    </div>
  </body>
</html>
