<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%> <%-
    include('../partials/functions.ejs')%>
  </head>

  <body>
    <div class="bg-container">
      <%- include('../partials/nav.ejs') %>

      <div class="container">
        <h1
          style="
            font-weight: 100;
            font-size: 4rem;
            color: white;
            margin-bottom: 2rem;
          "
        >
          Dashboard
        </h1>
        <a href="tracker/new" id="new-round">+ Add Round</a>

        <% rounds.forEach(round => { %>
        <a id="show-link" href="/tracker/<%= round._id %>">
          <div id="round-container">
            <table>
              <thead>
                <tr>
                  <th>COURSE</th>
                  <th>DATE</th>
                  <th>PAR</th>
                  <th>TOTAL</th>
                  <th>SCORE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="course-name"><p><%= round.course %></p></td>
                  <td id="date"><p><%= convertDate(round.date) %></p></td>
                  <td id="par">
                    <p>
                      <%= round.par.reduce((acc, value) => { return acc + value;
                      })%>
                    </p>
                  </td>
                  <td id="total">
                    <p>
                      <%= round.score.reduce((acc, value) => { return acc +
                      value; }) - round.handicap %>
                    </p>
                  </td>
                  <td>
                    <%= round.score.reduce((acc, value) => { return acc + value;
                    }) - round.handicap - round.par.reduce((acc, value) => {
                    return acc + value; }) %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </a>
        <% }) %>
      </div>
    </div>
  </body>
</html>
