<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%> <%-
    include('../partials/functions.ejs')%>
  </head>

  <body>
    <div class="bg-container">
      <%- include('../partials/nav.ejs') %>

      <div class="container">
        <h1 id="lg-heading">Dashboard</h1>
        <a href="tracker/new" id="new-round">+ Add Round</a>

        <% rounds.forEach(round => { %>
        <a id="show-link" href="/tracker/<%= round._id %>">
          <div id="round-container">
            <table>
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Date</th>
                  <th>Par</th>
                  <th>Score</th>
                  <th>Final</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="course-name"><p><%= round.course %></p></td>
                  <td id="date"><p><%= convertDate(round.date) %></p></td>
                  <td id="par">
                    <p class="color-par">
                      <%= round.par.reduce((acc, value) => { return acc + value;
                      })%>
                    </p>
                  </td>
                  <td id="score">
                    <p class="color-score">
                      <%= round.score.reduce((acc, value) => { return acc +
                      value; }) - round.handicap %>
                    </p>
                  </td>
                  <td class="color-final" id="final">
                    <%= round.score.reduce((acc, value) => { return acc + value;
                    }) - round.handicap - round.par.reduce((acc, value) => {
                    return acc + value; }) %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </a>
        <% }) %>
      </div>
    </div>
    <script>
      const final = document.getElementById("final");

      if ((final.textContent = "0")) {
        final.textContent = "Even";
      }
    </script>
  </body>
</html>
